html body {
	height: 100vh;
	background-image: radial-gradient( circle at right, #ff9a56, #9c1e59, #21ffff);
}

a {
	text-decoration: none;
}

.main-title {
	font-family: "Pirata One", cursive;
}

.main-subtitle {
	font-family: "Pirata One", cursive;
	color: #21ffff;
	font-weight: bold;
	margin: 1em auto;
	text-shadow: 2px 2px 10px #1a1919;
}
.btn-color-hacktober{
	background-color: #582d41;
	color: #fff;
	border-color: #582d41;
}
.btn-color-hacktober:hover{
	background-color: #B53D58;
	border-color: #B53D58;
}
.card {
	margin-bottom: 2em;
	text-align: center;
}

.card-body {
	background-color: #582d41;
	color: aliceblue;
}

.card-title {
	font-weight: bold;
	margin-bottom: 10px;
	height: 40px;
	color: #ff9a56;
}

.card-img-top {
	height: 250px;
	object-fit: cover;
}

.card-text {
	overflow: auto;
	height: 150px;
}

.contributor{
	margin-bottom: 3em;
}

.button {
	border: 3px solid #21ffff;
	border-radius: 4px;
	color: #21ffff;
	display: inline-block;
	font-size: 0.9em;
	margin-left: 0.5rem;
	padding: 0.5rem 1rem;
	text-decoration: none;
	transition: transform .2s
}

.button:hover {
	background-color: #fff;
	border-color: #fff;
	color: #411e2f;
	text-decoration: none;
	transform: scale(1.20);
}

.card__animate {
	transition: transform 0.5s;
}

.card__animate::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
	content: "";
	opacity: 0;
	z-index: -1;
}

.card__animate:hover,
.card__animate:focus {
	transform: scale3d(1.006, 1.006, 1);
}

.card__animate:hover::after,
.card__animate:focus::after {
	opacity: 1;
}

.container h1 {
	display: flex;
	justify-content: center;
	font-weight: 300;
	padding: 50px;
	background: rgba(71, 13, 38, 0.6);
	color: white;
	border-radius: 10px;
}

.container svg {
	margin-right: 10px;
}

.separator {
	background-color: #ffffff;
}


/* Add class .more-info at links */

a.more-info {
	position: relative;
	color: #fabc13;
	font-weight: bold;
	font-size: 0.9em;
	text-decoration: none;
}

.more-info:hover {
	color: #ffffff;
}

a.more-info:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	top: 20px;
	background-color: #ffffff;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

a.more-info:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.style-count span {
	background-color: #ff9a56;
	color: #ffffff;
}

h3.style-count {
	background: none;
	color: #ffffff;
}

.container {
	padding: 1%;
}

hr {
	background-color: aliceblue;
}

.modal-header,
.modal-title,
.modal-body,
.modal-footer {
	background-color: #582d41;
	color: #21ffff;
	font-size: 1.8em;
	text-align: center;
}

#countdown {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 12px;
}

#countdown>span {
	padding: 25px;
	background: linear-gradient(135deg, #7a142c 0%, #47032f 18%, #310321 44%, #801e35 100%);
	box-shadow: 2px 2px 10px #801e35;
	border: 2px solid #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=1);
	display: flex;
	justify-content: center;
	align-items: center;
}

.close {
	color: #21ffff;
	text-shadow: none;
}

.close:hover {
	color: #fff;
	text-shadow: none;
}

.days {
	background-color: #582d41;
	color: #ffffff;
}

.branch,
.home {
	margin: 0.9em auto;
}

.alert-custom{
	background: rgba(71, 13, 38, 0.6);
}

.navbar{
	border-top:2px solid white;
	border-bottom:3px solid white;
	position: fixed;
	bottom: 0;
	background-color:rgba(100, 3, 53, 0.8);
	height: 80px;
	margin: 0;
}

.navbar > .navbar-brand{
	position: absolute;
	left:50%;
	transform: translateX(-50%);
	color:#ff9a56;
	font-family: "Pirata One", cursive;
	transition: all 0.2s ease-in;
}

.navbar > .navbar-brand:hover{
	color:#ffffff;
	margin-top: -0.1em;
}

.hack{
	color:#21ffff;
}

.line{
	text-decoration: none;
	color:#ffffff;
}

.arrow{
	padding: 0.1em;
	font-size: 1.5em;
	color:rgba(0, 238, 247, 0.8);
	transition: all 0.2s ease-in;
}

.arrow:hover{
	color:rgb(245, 243, 243);
}

.fancy .card-body {
    transition: background-color 1s ease;
}
.fancy:hover .card-body {
    background-color: darkslateblue;
}

@media(min-width:500px){
	.time{
		font-size: 1.5em;
	}
}

@media(max-width:400px){
	
	.time{
		width:4.5rem;
		font-size: 0.8em;
	}
}

@media(max-width:600px){
	.arrow{
		color:#ff9a56;
		position: fixed;
		bottom: 5em;
		right:0.4em;
		font-size: 2em;
	}
}