body {
  background-image:url(https://hacktoberfest.digitalocean.com/assets/computer-1-ac501e54260f53f627b8f2d8f42da0811b868214852dd99a9c095344884f576c.png),url(https://hacktoberfest.digitalocean.com/assets/computer-2-2cdd15a9fe9ad8dbc2de34fbb395243df58b73863a4ffca6b417ca1a21d06d2f.png),url(https://hacktoberfest.digitalocean.com/assets/bg-noise-867a64f4a090fcaa19c0c1531b5bf1863feb109a15ac8de23d7f6cf4ff43de10.png);
  background-blend-mode: multiply;
  background-position:left 0 top 140px, right 0 top 350px, center;
  background-repeat:no-repeat, no-repeat, repeat;
  background-size:396px, 396px, auto;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  margin:0;
  min-height:100vh;
  padding:0 0 1.5rem;
  position:relative;
  font-size:16px;
}
a {
  text-decoration: none;
}
.main-title {
  font-family: "Pirata One", cursive;
}
.card {
  margin-bottom: 10px;
  text-align: center;
}
.card-body {
  background-color: #a84a5c;
  color: aliceblue;
}
.card-title {
  font-weight: bold;
  margin-bottom: 10px;
  height: 40px;
  color: #ff9a56;
}
.djigotitle {
  color: white;
  text-shadow: 2px 2px 0px #000, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-text {
  overflow: auto;
  height: 150px;
}
.button {
  border: 3px solid #ff9a56;
  border-radius: 4px;
  color: #ffffff;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
.button:hover {
  background-color: #ff9a56;
  border-color: #ff9a56;
  color: #fff;
  text-decoration: none;
}

.card__animate {
  transition: transform 0.5s;
}
.card__animate::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: "";
  opacity: 0;
  z-index: -1;
}
.card__animate:hover,
.card__animate:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__animate:hover::after,
.card__animate:focus::after {
  opacity: 1;
}

.container h1{
  display: flex;
  justify-content: center;
  font-weight: 300;
  padding: 50px;
  color: white;
}

.container svg {
  margin-right: 10px;
}

.separator {
  background-color:#ffffff;
}
