a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: #f67590 !important;
}

body{
background-image: url(images/x.jpg);
background-attachment: no-repeat;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
  color: #222222;
}
.main-title {
  font-family: 'Rye', cursive;
  
}
.card {
  margin-bottom: 10px;
  text-align:center;
  height: 600px;
 
}
.card-body {
  background-color: rgb(38, 110, 177);
  color: rgb(255, 255, 255);
}
.card-title {
  font-weight: bold;
  margin-bottom: 10px;
  height: 40px;
  color:#ff9a56;
}
.card-img-top {
  height: 230px;
  object-fit: cover;
}

.card-text{
  overflow: auto;
  height: 150px;
}
.button {
  border: 3px solid #21ffff;
  border-radius: 5px;
  color: #21ffff;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none
}
.button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #411e2f;
  text-decoration: none;
}


.card__animate {
  transition: transform .5s;
}
.card__animate::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__animate:hover, .card__animate:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__animate:hover::after, .card__animate:focus::after {
  opacity: 4;
}
.container h1{
  text-decoration-line:underline; 
  font-weight: 300;
  padding: 50px;
  background-color: rgb(11, 54, 95);
  color: rgb(164, 152, 206);
}

.separator{
  background-color:#d9dbe0;
}

.button {
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 0 30px;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}




.button {
  color: #38a4ff;
  border: 1px solid #38a4ff;
  background: #fff;
}


.button:hover {
  color: #fff !important;
  background: #38a4ff;
  border: 1px solid transparent;
}