a {
  text-decoration: none;
}
.main-title {
  font-family: 'Poiret One', cursive;
}
.card {
  margin-bottom: 10px;
}
.card-body {
  background-color: #582D41;
  color: aliceblue;
}
.card-title {
  font-weight: bold;
  margin-bottom: 10px;
  height: 40px;
}
.card-img-top {
  height: 250px;
  object-fit: cover;
}

.card-text{
  overflow: auto;
  height: 150px;
}
.button {
  border: 3px solid #21ffff;
  border-radius: 4px;
  color: #21ffff;
  display: inline-block;
  font-size: 0.9em;
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none
}
.button:hover {
  background-color: #fff;
  border-color: #fff;
  color: #411e2f;
  text-decoration: none;
}


.card__animate {
  transition: transform .5s;
}
.card__animate::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card__animate:hover, .card__animate:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.card__animate:hover::after, .card__animate:focus::after {
  opacity: 1;
}
.container h1{
  font-weight: 300;
  padding: 50px;
  background: #582D41;
  color: white;
}
