.card {
    margin-bottom: 10px;
}

.card-body {
    background-image: linear-gradient(#fff, #efefef);
}

.card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.card-img-top {
  max-height: 250px;
}